<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body class="bg-gray-100 flex">

    <!-- Menu de navigation à gauche --><nav class="bg-white w-1/4 min-h-screen shadow-md">
    <div class="p-6">
        <h2 class="text-xl font-bold mb-4">Menu</h2>
        <ul>
            <li class="mb-2 bg-indigo-600 text-gray-50 p-2 ">
                <a href="/dashboard" class="flex items-center">
                    <i class="fas fa-tachometer-alt mr-2"></i>
                    Tableau de bord
                </a>
            </li>
            <li class="mb-2 hover:bg-indigo-600 hover:text-gray-50 active:bg-indigo-600 active:text-gray-50 p-2 text-gray-700 ">
                <a href="/annees" class="flex items-center">
                    <i class="fas fa-calendar-alt mr-2"></i>
                    Gestion des années
                </a>
            </li>
            <li class="mb-2 hover:bg-indigo-600 hover:text-gray-50 active:bg-indigo-600 active:text-gray-50 p-2 text-gray-700 ">
                <a href="/filieres" class="flex items-center">
                    <i class="fas fa-book mr-2"></i>
                    Gestion des filières
                </a>
            </li>
            <li class="mb-2 hover:bg-indigo-600 hover:text-gray-50 active:bg-indigo-600 active:text-gray-50 p-2 text-gray-700 ">
                <a href="/etudiants" class="flex items-center">
                    <i class="fas fa-user-graduate mr-2"></i>
                    Gestion des étudiants
                </a>
            </li>
            <li class="mb-2 hover:bg-indigo-600 hover:text-gray-50 active:bg-indigo-600 active:text-gray-50 p-2 text-gray-700 ">
                <a href="/parcours" class="flex items-center">
                    <i class="fas fa-chalkboard-teacher mr-2"></i>
                    Gestion des parcours
                </a>
            </li>
            <li class="mb-2 hover:bg-indigo-600 hover:text-gray-50 active:bg-indigo-600 active:text-gray-50 p-2 text-gray-700 ">
                <a href="/notes" class="flex items-center">
                    <i class="fas fa-pencil-alt mr-2"></i>
                    Gestion des notes
                </a>
            </li>
            <li class="mb-2 hover:bg-indigo-600 hover:text-gray-50 active:bg-indigo-600 active:text-gray-50 p-2 text-gray-700 ">
                <a href="/enseignants" class="flex items-center">
                    <i class="fas fa-user mr-2"></i>
                    Gestion des enseignants
                </a>
            </li>
            <li class="mb-2 hover:bg-indigo-600 hover:text-gray-50 active:bg-indigo-600 active:text-gray-50 p-2 text-gray-700 ">
                <a href="/offres" class="flex items-center">
                    <i class="fas fa-folder-open mr-2"></i>
                    Gestion des Offres Forms
                </a>
            </li>
            <li class="mb-2 hover:bg-indigo-600 hover:text-gray-50 active:bg-indigo-600 active:text-gray-50 p-2 text-gray-700 ">
                <a href="/users" class="flex items-center">
                    <i class="fas fa-users mr-2"></i>
                    Gestion des utilisateurs
                </a>
            </li>
            <!-- Ajoutez d'autres éléments de menu ici -->
        </ul>
    </div>
</nav>


    <!-- Contenu principal -->
    <div class="flex-1 w-3/4 p-6">
        <!-- Barre supérieure -->
        <div class="flex justify-between items-center mb-6 bg-white shadow-md p-4 rounded">
            <div>
                <h1 class="text-3xl font-bold">Dashboard</h1>
            </div>
            <div class="text-gray-600">
                <span class="mr-4">Utilisateur : <strong>{{ user.email }}</strong></span>
                <a href="{{ url_for('logout') }}" class="text-red-600 hover:underline">Déconnexion</a>
            </div>
        </div>

        <!-- Contenu des cartes -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
            <!-- Card 2: Gestion des années académiques -->
            <a href="/annees"><div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <div class="text-green-600 text-4xl mb-4">
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <h2 class="text-xl font-semibold">Années & Grades</h2>
                <p class="text-gray-600">Gérer les années & Grades</p>
            </div></a>

            <!-- Card 3: Gestion des filières -->
            <a href="/filieres"><div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <div class="text-red-600 text-4xl mb-4">
                    <i class="fas fa-book"></i>
                </div>
                <h2 class="text-xl font-semibold">Filières</h2>
                <p class="text-gray-600">Gérer les filières d'études</p>
            </div></a>

            <!-- Card 4: Gestion des étudiants -->
            <a href="/etudiants"><div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <div class="text-purple-600 text-4xl mb-4">
                    <i class="fas fa-user-graduate"></i>
                </div>
                <h2 class="text-xl font-semibold">Etudiants</h2>
                <p class="text-gray-600">Gérer les étudiants</p>
            </div></a>

            <!-- Card 5: Gestion des unités d'enseignement -->
            <a href="/parcours"><div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <div class="text-yellow-500 text-4xl mb-4">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <h2 class="text-xl font-semibold">Parcours étudiants</h2>
                <p class="text-gray-600">Gérer le parcours</p>
            </div></a>

            <!-- Card 6: Gestion des notes -->
            <a href="/notes"><div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <div class="text-teal-600 text-4xl mb-4">
                    <i class="fas fa-pencil-alt"></i>
                </div>
                <h2 class="text-xl font-semibold">Notes</h2>
                <p class="text-gray-600">Gérer les notes des étudiants</p>
            </div></a>

            <!-- Card 1: Gestion des enseignants -->
            <a href="/enseignants"><div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <div class="text-gray-500 text-4xl mb-4">
                    <i class="fas fa-folder-open"></i>
                </div>
                <h2 class="text-xl font-semibold">Offres de formation</h2>
                <p class="text-gray-600">Gérer un offre de formation</p>
            </div></a>

            <a href="/enseignants"><div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <div class="text-yellow-800 text-4xl mb-4">
                    <i class="fas fa-user"></i>
                </div>
                <h2 class="text-xl font-semibold">Enseignants</h2>
                <p class="text-gray-600">Gérer un enseignant</p>
            </div></a>

            <!-- Card 1: Gestion des utilisateurs -->
            <a href="/users"><div class="bg-white shadow-lg rounded-lg p-6 text-center">
                <div class="text-indigo-600 text-4xl mb-4">
                    <i class="fas fa-users"></i>
                </div>
                <h2 class="text-xl font-semibold">Utilisateurs</h2>
                <p class="text-gray-600">Gérer un utilisateur</p>
            </div></a>

            <!-- Ajoutez d'autres cartes ici si nécessaire -->
        </div>
    </div>
</body>
</html>
